/.lake
TraleTest/Expressions/tr_split_application_1_raw.lean
TraleTest/Expressions/tr_split_application_3.txt
TraleTest/Expressions/tr_split_application_4.txt
Trale/Utils/Application2.lean
Trale/Utils/ApplicationOrig.lean
